/* Global */
:root{
  /* Color */
  --color-white:#ffffff;
  --color-light-white:#eeeeee;
  --color-dark-white:#bdbdbd;
  --color-dark-grey::#4d4d4d;
  --color-grey:#616161;
  --color-light-grey:#6c7979;
  --color-dark-blue:#204051;
  --color-blue:#3b6978;
  --color-light-blue:#84a9ac;
  --color-soft:#e7dfd5;
  --color-black:#000000;

  /* Font size */
  --font-large:48px;
  --font-medium:28px;
  --font-regular:18px;
  --font-small:16px;
  --font-micro:14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular:400;
  /* Size */

}
/* Font - naver 나눔스퀘어 사용. */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
body {
  font-family: 'NanumSquare', sans-serif;
}

/* Universal tags*/
*{
  box-sizing: border-box;
}